@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    display: grid;
    grid-template-rows: 4.5rem auto 3.2rem;
    grid-template-areas: "header" "main" "footer";
    min-height: 100vh;
}

.backdrop {
    position: fixed;
    display: none;
    opacity: 0;
    transition: opacity 0.2s linear;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
  }

/* head */

.main-header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: flex-end;
    align-items: center;
    padding: 1.7rem 10%;
    background: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 4.5rem;
    grid-area: header;
}

.alert-container {
    position: absolute;
    top: 1rem;
    z-index: 1;
    height: 24px;
    width: 100%;
}

.main-nav {
    display: none;
}

.main-nav-logo {
    width: 3rem;
    height: 3rem;
    margin-right: auto;
}

.main-nav-links {
    display: flex;
    list-style: none;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    font-size: 1.1rem;
    
}

.main-nav-link a,
.mobile-nav-link a {
    text-decoration: none;
    color: white;
    display: inline-block;
    margin: 0 2vw;
    position: relative;
}

.mobile-nav-login-button, .main-nav-login-button {
    background: #78c7d2;
    border: none;
    border-radius: 50px;
    padding: 0.7rem 1.5rem;
}

.main-nav-login-button {
    display: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-left: 2rem;
    font-size: 1rem;
}

.main-nav-login-button:focus, .main-nav-login-button:focus-visible {
    outline: none;
}

.main-nav-login-button:hover {
    background: white;
    color: #78c7d2;
    transition: all 0.3s ease;
}

.main-nav-link a:hover {
    color: #78c7d2;
    transition: color 0.15s ease;
    text-decoration: none;
}

.main-nav-link a::after {
    content: "";
    position: absolute;
    background: #78c7d2;
    height: 3px;
    width: 0%;
    left: 0;
    bottom: -5px;
    transition: 0.3s ease-in-out;
}

.main-nav-link a:hover::after {
    width: 100%;
}

.mobile-nav {
    transform: translateX(-100%);
    transition: transform 0.35s ease-out;
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 1);
    width: 80%;
    height: 100vh;
}

.mobile-nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 100%;
    list-style: none;
    margin: auto;
    padding: 0;
    text-align: center;
}

.mobile-nav-link {
    margin: 1.5rem 0;
}

.mobile-nav-link a {
    font-size: 1.5rem;
}

.mobile-nav-login-button {
    font-size: 1.3rem;
}

.toggle-button {
    width: 3rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding-top: 0;
    padding-bottom: 0;
    vertical-align: middle;
    margin-right: 1.5rem;
}

.toggle-button:focus {
    outline: none;
}

.toggle-button__bar {
    width: 100%;
    height: 0.2rem;
    background: white;
    display: block;
    margin: 0.6rem 0;
}

.open {
    opacity: 1 !important;
    display: block !important;
    transform: translateY(0) !important;

}

/* main */
main {
    grid-area: main;
}


/* footer */

.main-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    grid-area: footer;   
}

.nav-footer {
    background: rgba(0, 0, 0, 0.9);
}

.nav-footer-links {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    list-style: none;
    margin-bottom: 0;
}

.nav-footer-link {
    margin: 0.8rem 0;
}

.nav-footer-link a{
    text-decoration: none;
    font-size: 1.1rem;
    color: white;
    transition: color 0.2s ease-in-out;
}

@media (min-width: 40rem) {
    .main-header {
        background: black;
    }

    .mobile-nav {
        display: none;
    }

    .main-nav {
        display: block;
    }

    .main-nav-links {
        margin-bottom: 0;
    }

    .main-nav-login-button {
        display: inline-block;
    }

    .toggle-button {
        display: none;
    }

    .main-footer {
        background: black;
    }

    .nav-footer-links {
        flex-direction: row;
        justify-content: space-around;
    }

    .nav-footer-link-1 {
        margin-left: 30vw;
    }

    .nav-footer-link-2 {
        margin-right: 30vw;
    }

    .nav-footer-link a:hover {
        color: #78c7d2;
        text-decoration: none;
    }

    .alert-container {
        position: relative;
        top: 4.6rem;
    }
}