body {
    background: #E1F1FF;
}

.reset-password-container {
    grid-area: main;
}

.change-info-form {
    gap: 8rem;
}

.change-info-form h3 {
    opacity: 0.9;
}

.main-header {
    display: none;
}

.main-footer {
    display: none;
}