body {
    background: #E1F1FF;
}

.alert-container {
    position: absolute;
    top: 1px;
}

.reset-password-container {
    grid-area: main;
}

.change-info-form {
    gap: 8rem;
}

.change-info-box-container {
    min-width: 20rem;
}

.change-info-form h3 {
    opacity: 0.9;
}

.main-header {
    display: none;
}

.main-footer {
    display: none;
}

@media (min-width: 40rem) {
    .change-info-box-container {
        min-width: 28rem;
    }
}