{% extends 'base.html' %}
{% block title %}
Contact
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/contact-page.css') }}">

<main>
    <div class="contact-form-container">
        <div class="contact-form-header">
            <h3>Questions?</h3>
            <h3>We're here to help.</h3>
        </div>

        <form action="{{ url_for('views.contact_page') }}" method="post">
            {{ form.hidden_tag() }}
            
            {{ form.text_area(rows=15, cols=80, class="text-area", placeholder="Type here") }}

            {{ form.submit(class="submit-btn") }}            
        </form>
    </div>

</main>


<script src="{{ url_for('static', filename='js/modals.js') }}"></script>
{% endblock %}