{% extends 'base.html' %}

{% block title %}
Reset Password
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/reset-password-page.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/settings-page.css')}}">

<div class="reset-password-container">
    <div class="change-info-form">
        <h3>Enter a new password</h3>
        <form action="{{ url_for('auth.reset_password_page', token=token)}}" method="post">
            {{ form.hidden_tag() }}

            <div class="change-info-box-container">
                {{ form.new_password.label(class="change-label") }}
                {{ form.new_password(class="change-box") }}
            </div>

            <div class="change-info-box-container">
                {{ form.repeat_new_password.label(class="change-label") }}
                {{ form.repeat_new_password(class="change-box") }}

                {% if current_user.is_authenticated %}
                    <a class="return-to-website" href="{{ url_for('views.home_page') }}">Return to website!</a>
                {% else %}
                    <a class="return-to-website" href="{{ url_for('auth.login_page') }}"></a>
                {% endif %}
            </div>

            <div class="change-info-box-container">
                {{ form.submit(class="change-box-submit") }}
            </div>
        </form>
    </div>
</div>

{% endblock %}
